.dropdown .dropdown-menu {
    height: 500px;
    overflow-y: scroll;
}

.dropdown {
    padding-bottom: 20px;
}

.currency-label {
    font-weight: 600;
    padding-right: 10px;
}

.currency-elements{
    margin: auto;
    width: 80%;
}

.currency-heading {
    padding: 10px;
    text-align: center; 
}

